
# Python
__pycache__/
*.py[ocd]

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Docs
docs/_build/
docs/api/generated/
docs/.doctrees/
docs/_autosummary/
docs/_static/.doctrees/
docs/_static/.jupyter_cache/
